[Unit]
Description=LedPi service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/ledpi
ExecStartPre=pip3 install -r requirements.txt
ExecStart=python3 main.py -c config.yml -s state.yml
Restart=always

[Install]
WantedBy=multi-user.target
